apache-airflow==2.7.0
apache-airflow-providers-celery>=3.3.0
apache-airflow-providers-cncf-kubernetes>=7.4.0
apache-airflow-providers-openlineage>=1.8.0
pytest==8.3.3
nltk==3.9.1
numpy==2.0.2
openai==0.28
pandas==2.2.3
scikit-learn==1.5.2
scipy==1.14.1
requests==2.32.3
beautifulsoup4==4.12.3
azure-storage-blob==12.24.0
azure-identity==1.19.0
python-dotenv==1.0.1
azure-search-documents==11.5.2
spacy==3.8.2
mlflow
streamlit
